html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	font-family: sans-serif;
	color: #000;
	background: linear-gradient(to bottom,
			#323232 0%,
			#3f3f3f 40%,
			#1c1c1c 150%),
		linear-gradient(to top,
			rgba(255, 255, 255, 0.6) 0%,
			rgba(0, 0, 0, 0.25) 200%);
	background-blend-mode: multiply;
	background-color: rgba(0, 0, 0, 0.1);

}

img {
	display: block;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.container {
	padding: 25px 15px;
	margin: 0 auto;
	max-width: 1230px;
	width: 100%;
}

.student-title {
	margin-bottom: 10px;
	font-size: 28px;
	text-transform: uppercase;
	color: rgb(255, 255, 255);
	font-weight: 500;
	text-align: center;
}

.table {
	margin: 10px auto;
	max-width: 100%;
	width: 100%;
}

table {
	font-size: 16px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	overflow: hidden;
	-webkit-box-shadow: -8px 9px 21px 6px rgba(34, 60, 80, 0.23);
	-moz-box-shadow: -8px 9px 21px 6px rgba(34, 60, 80, 0.23);
	box-shadow: -8px 9px 21px 6px rgba(34, 60, 80, 0.23);

}

th {
	background: #2656f5;
	color: #fff;
	padding: 10px 10px;
	font-size: 18px;
	text-align: center;
}

th,
td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	text-align: center;
}

th:first-child,
td:first-child {
	text-align: left;
}

th:first-child {
	border-top-left-radius: 8px;
}

th:last-child {
	border-top-right-radius: 8px;
	border-right: none;
}

td {
	padding: 10px 10px;
	background-color: #bdcff7;
	color: #000;
	font-weight: 600;
	text-align: center;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 8px;
}

tr:last-child td:last-child {
	border-radius: 0 0 8px 0;
}

tr td:last-child {
	border-right: none;
}


.form-filter {
	max-width: 45%;
	width: 100%;
	display: flex;
	flex-direction: column;

}

table-dark th,
.table-dark thead th {
	border-color: #000;
	text-align: center;
}

td:first-child {
	text-align: center;
}


.form-control {
	display: block;
	width: 50%;
	color: #000000;
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
	color: #444444;
}

.table-dark th,
.table-dark thead th {
	border-color: #454d55;
	text-align: center;
}



table-dark th,
.table-dark thead th {
	border-color: #000;
	text-align: center;
}

td:first-child {
	text-align: center;
}


.form-control {
	display: block;
	width: 50%;
	color: #000000;
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
	color: #444444;
}

.table-dark th,
.table-dark thead th {
	border-color: #454d55;
	text-align: center;
}

#add-student {
	max-width: 50%;
	width: 100%;
}

.student-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="email"] {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background: #ffffff;
	border: 1px solid #000000;
	color: #000000;
	font-size: 14px;
	padding: 0 15px;
	font-family: "arial";
	border-radius: 8px;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="email"]:-moz-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="date"]::-moz-placeholder,
input[type="datetime"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="time"]::-moz-placeholder,
input[type="url"]::-moz-placeholder,
input[type="month"]::-moz-placeholder,
input[type="week"]::-moz-placeholder,
input[type="email"]::-moz-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="date"]:-ms-input-placeholder,
input[type="datetime"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="time"]:-ms-input-placeholder,
input[type="url"]:-ms-input-placeholder,
input[type="month"]:-ms-input-placeholder,
input[type="week"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="date"]:focus::-webkit-input-placeholder,
input[type="datetime"]:focus::-webkit-input-placeholder,
input[type="number"]:focus::-webkit-input-placeholder,
input[type="search"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder,
input[type="time"]:focus::-webkit-input-placeholder,
input[type="url"]:focus::-webkit-input-placeholder,
input[type="month"]:focus::-webkit-input-placeholder,
input[type="week"]:focus::-webkit-input-placeholder,
input[type="email"]:focus::-webkit-input-placeholder {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

input[type="text"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
input[type="date"]:focus:-moz-placeholder,
input[type="datetime"]:focus:-moz-placeholder,
input[type="number"]:focus:-moz-placeholder,
input[type="search"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder,
input[type="time"]:focus:-moz-placeholder,
input[type="url"]:focus:-moz-placeholder,
input[type="month"]:focus:-moz-placeholder,
input[type="week"]:focus:-moz-placeholder,
input[type="email"]:focus:-moz-placeholder {
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
input[type="date"]:focus::-moz-placeholder,
input[type="datetime"]:focus::-moz-placeholder,
input[type="number"]:focus::-moz-placeholder,
input[type="search"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder,
input[type="time"]:focus::-moz-placeholder,
input[type="url"]:focus::-moz-placeholder,
input[type="month"]:focus::-moz-placeholder,
input[type="week"]:focus::-moz-placeholder,
input[type="email"]:focus::-moz-placeholder {
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

input[type="text"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
input[type="date"]:focus:-ms-input-placeholder,
input[type="datetime"]:focus:-ms-input-placeholder,
input[type="number"]:focus:-ms-input-placeholder,
input[type="search"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder,
input[type="time"]:focus:-ms-input-placeholder,
input[type="url"]:focus:-ms-input-placeholder,
input[type="month"]:focus:-ms-input-placeholder,
input[type="week"]:focus:-ms-input-placeholder,
input[type="email"]:focus:-ms-input-placeholder {
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

select {
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	background: #ffffff;
	border: 1px solid #000000;
	color: #000000;
	font-size: 14px;
	padding: 0 15px;
	font-family: "arial";
	border-radius: 8px;
}

textarea {
	position: relative;
	display: block;
	width: 100%;
	min-height: 50px;
	background: #ffffff;
	border: 1px solid #000000;
	color: #000000;
	font-size: 14px;
	padding: 0 15px;
	font-family: "arial";
	border-radius: 8px;
}

textarea::-webkit-input-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

textarea:-moz-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

textarea::-moz-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

textarea:-ms-input-placeholder {
	color: #000000;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

textarea:focus::-webkit-input-placeholder {
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

textarea:focus:-moz-placeholder {
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

textarea:focus::-moz-placeholder {
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

textarea:focus:-ms-input-placeholder {
	transform: translateY(-100%);
	visibility: hidden;
	opacity: 0;
}

.sorty span {
	position: relative;
	cursor: pointer;

}

.sorty span::before {
	display: block;
	position: absolute;
	right: -20px;
	content: "\1F815";
}

.active.sorty span::before {
	display: block;
	position: absolute;
	right: -20px;
	content: "\1F815";
	transform: rotate(180deg);
}
