html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	min-height: 100vh;
	margin: 0;
	font-size: 20px;
	font-weight: 400;
	font-family: sans-serif;
	color: #000;
<<<<<<< HEAD
	background: linear-gradient(to bottom,
			#323232 0%,
			#3f3f3f 40%,
			#1c1c1c 150%),
		linear-gradient(to top,
			rgba(255, 255, 255, 0.6) 0%,
			rgba(0, 0, 0, 0.25) 200%);
	background-blend-mode: multiply;
=======
	background-color: rgba(0, 0, 0, 0.1);
>>>>>>> 340211ce1817490413f2360503aeadf521308765
}

img {
	display: block;
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.container {
	padding: 100px 15px;
	margin: 0 auto;
	max-width: 1230px;
	width: 100%;
}

.student-title {
	margin-bottom: 30px;
	font-size: 46px;
	text-transform: uppercase;
	color: rgb(148, 147, 147);
	font-weight: 700;
}

.table {
	margin: 15px auto;
	max-width: 100%;
	width: 100%;
}

table {
	font-size: 18px;
	border-radius: 10px;
	border-spacing: 0;
	text-align: center;
	overflow: hidden;
<<<<<<< HEAD
=======
	-webkit-box-shadow: -8px 9px 21px 6px rgba(34, 60, 80, 0.23);
	-moz-box-shadow: -8px 9px 21px 6px rgba(34, 60, 80, 0.23);
	box-shadow: -8px 9px 21px 6px rgba(34, 60, 80, 0.23);
>>>>>>> 340211ce1817490413f2360503aeadf521308765
}

th {
	background: #2656f5;
	color: #fff;
	padding: 20px 20px;
	font-size: 26px;
	text-align: center;
}

th,
td {
	border-style: solid;
	border-width: 0 1px 1px 0;
	border-color: white;
	text-align: center;
}

th:first-child,
td:first-child {
	text-align: left;
}

th:first-child {
	border-top-left-radius: 10px;
}

th:last-child {
	border-top-right-radius: 10px;
	border-right: none;
}

td {
	padding: 10px 20px;
	background-color: #bdcff7;
	color: #000;
	font-weight: 600;
	text-align: center;
}

tr:last-child td:first-child {
	border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
	border-radius: 0 0 10px 0;
}

tr td:last-child {
	border-right: none;
}

<<<<<<< HEAD
.form-filter {
	max-width: 500px;
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
}

table-dark th,
.table-dark thead th {
	border-color: #000;
	text-align: center;
}

td:first-child {
	text-align: center;
}


.form-control {
	display: block;
	width: 50%;
	color: #000000;
	background-color: rgb(216, 216, 216);
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control::placeholder {
	color: #444444;
}
=======
.table-dark th,
.table-dark thead th {
	border-color: #454d55;
	text-align: center;
}
>>>>>>> 340211ce1817490413f2360503aeadf521308765
